<div class="list-container">
    <header>
        <h1 class="text-danger text-center">Project List</h1>
    </header>
    <div class="createProject"><button type="button" class="btn btn-success" routerLink="/nav/createproject">Add
            Project</button></div>
    <div>
        <table class="t-container table table-striped table-hover table-dark">
            <thead>
                <tr>
                    <th scope="col">Project ID</th>
                    <th scope="col">Project Name</th>
                    <th scope="col">Project Details</th>
                    <th scope="col">Supervisor ID</th>
                    <th scope="col">
                        <input class="form-control me-2" (keyup)="search($event)" type="search"
                            placeholder="Search Employees" aria-label="Search">
                    </th>
                </tr>
            </thead>
            <tbody *ngFor="let project of projects">
                <tr>
                    <th scope="row">{{project.pId}}</th>
                    <td>{{project.pName}}</td>
                    <td>{{project.pDetail}}</td>
                    <td>
                        <button type="button" class="btn btn-link text-white"
                            (click)="openEmpViewModal(viewEmpModal,project.supervisorEmployeeId)" data-toggle=modal
                            data-target=#viewModal>{{project.supervisorEmployeeId}} </button>
                    </td>
                    <td colspan="2">
                        <button class="btn btn-primary" (click)="openViewModal(viewModal,project,addemp)"
                            data-toggle=modal data-target=#viewModal>View
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-eye" viewBox="0 0 16 16">
                                <path
                                    d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
                                <path
                                    d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
                            </svg>
                        </button>
                        <button class="btn btn-success ml-2 " (click)="editProject(project)">Edit
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-pencil-square" viewBox="0 0 16 16">
                                <path
                                    d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                                <path fill-rule="evenodd"
                                    d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                            </svg>
                        </button>
                        <button class="btn btn-danger ml-2"
                            (click)="opendeleteModal(deletModal,project.pId,project.pName)" data-toggle="modal"
                            data-target="#deleteModal"> Delete
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                class="bi bi-trash" viewBox="0 0 16 16">
                                <path
                                    d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
                                <path fill-rule="evenodd"
                                    d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
                            </svg></button>
                        <button type="button" class="btn btn-light ml-2" (click)="AddComp(project)">Add Emp</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="my-2 text-center">
            <span class="font-weight-bold">
                Employees Not Assign On Project <br>
                <span class="text-dark font-weight-bold" *ngFor="let empNot of addEmpNot">
                    <button type="button" class="btn btn-link"
                        (click)="openEmpViewModal(viewEmpModal,empNot.employeeId)" data-toggle=modal
                        data-target=#viewEmpModal>{{empNot.employeeId}}
                    </button>
                </span>
            </span>
        </div>
    </div>
</div>
<!-- Profile Deletion modal code -->

<ng-template #deletModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Profile Deletion</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <p><strong>Are you sure you want to delete <span class="text-primary">"{{nameOfProjectToDelete}}"</span>
                profile?</strong></p>
        <p>All information associated to this employee will be permanently deleted.
            <span class="text-danger font-weight-bold">This operation can not be undone.</span>
        </p>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="modal.dismiss('Cancel click')">Cancel</button>
        <button type="button" class="btn  btn-danger" (click)="modal.close()">Ok</button>
    </div>
</ng-template>

<!-- View Employee Modal -->
<ng-template #viewEmpModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{employee.fName + ' ' + employee.lName}}'s Profile</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-4 text-center">
                <img src="../../assets/images/maleProfileIcon.png" class="card-img-top"
                    *ngIf="employee.gender.toLowerCase() == 'male'; else elseBlock">
                <ng-template #elseBlock>
                    <img src="../../assets/images/femaleProfileIcon.png" class="card-img-top">
                </ng-template>
                <h3>{{employee.fName + ' ' + employee.lName}}</h3>
                <h6>{{employee.position}}</h6>
            </div>
            <div class="col-8">
                <h4 class="info-container">Information</h4><br />
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">Id : </span> <span>{{employee.employeeId}}</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">Contact No : </span> <span>{{employee.phone}}</span>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <span class="font-weight-bold">gender : </span> <span>{{employee.gender}}</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">Email : </span> <span>{{employee.email}}</span>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <span class="font-weight-bold">Date Of Joining : </span>
                        <span>{{employee.dateJoined}}</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">Date Of Birth : </span>
                        <span>{{employee.dateOfBirth}}</span>
                    </div>
                </div>
                <div class="row my-3">
                    <div class="col">
                        <span class="font-weight-bold my2">Address : </span><span> {{employee.street}},
                            {{employee.city}}, {{employee.state}}.</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">ZIP Code : </span> <span>{{employee.zipCode}}</span>
                    </div>
                </div>

                <div class="row my-3">
                    <div class="col">
                        <span class="font-weight-bold">Department: </span>
                        <span>{{employee.dName}}</span>
                    </div>
                    <div class="col">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-dark" (click)="modal.dismiss('Close click')">Close</button>
    </div>
</ng-template>

<!-- View Project Modal -->
<ng-template #viewModal let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">{{project.pName}} Project Details</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-4 text-center">
                <img src="../../assets/images/proj.jpg" class="card-img-top">
                <h3>{{project.pName}}</h3>
            </div>
            <div class="col-8">
                <h4 class="info-container">Information</h4><br />
                <div class="row">
                    <div class="col">
                        <span class="font-weight-bold">PId : </span> <span>{{project.pId}}</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">Project_Details: </span> <span>{{project.pDetail}}</span>
                    </div>
                </div>
                <div class="row my-2">
                    <div class="col">
                        <span class="font-weight-bold">Supervisor_ID : </span>
                        <span>{{project.supervisorEmployeeId}}</span>
                    </div>
                    <div class="col">
                        <span class="font-weight-bold">EmployeeId : </span><br>
                        <span *ngFor="let emps of addempp">
                            <button type="button" class="btn btn-link"
                                (click)="openEmpViewModal(viewEmpModal,emps.employeeId)" data-toggle=modal
                                data-target=#viewEmpModal>{{emps.employeeId}}
                            </button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-dark" (click)="modal.dismiss('Close click')">Close</button>
        </div>
    </div>
</ng-template>