
header{
    margin-top: 9vh;
}

.createEmployee{
    padding-top: 10px;
    padding-bottom: 15px;
    display: flex;
    justify-content: center;
    /* border: 3px solid green; */
    
}

.info-container{
    margin-left: 30%;
}

